<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" />
    <!-- jQuery 연결 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Hello Storm!</title>
  </head>
  <body>
    <div class="container">
      <div class="page">
        <a  class="btn" href="index.html">
        달력 페이지로 이동
        </a>
        <!-- 팝업 코드 -->
        <div>
          <button class="popupBtn">
            모달 팝업 열기
          </button>
        </div>
        <div class="popupWrap">
          <div class="popupInner">
            <p>내용</p>
            <button class="closeBtn">
              팝업 닫기
            </button>
          </div>
          <div class="grayLayer"></div>
        </div>
        <!-- 팝업 코드 -->
    </div>
  </body>
  <script>
    // jQuery 사용할 땐 $(function() {  }) 으로 묶어서 사용
    $(function() {
        $(".popupBtn").on("click", function() {
          // 버튼 클릭 이벤트 발생 시 팝업 열기
            $(".popupWrap").show();
        })
        $(".closeBtn").on("click", function() {
            // 버튼 클릭 이벤트 발생 시 팝업 닫기
            $(".popupWrap").hide();
        })
    })
  </script>
</html>
