@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}
.page{
 display: flex;
 flex-direction: column;
 gap: 7vh;
 padding: 30px 20px;

}
.audioBox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.audio{opacity: .5;}
.imgBox{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    /* height: 1000px; */
    max-height: 800px;
    position: relative;
}
.imgBox img{
    width: 90%;
    max-width: 1000px;
    /* height: 100%; */
    /* object-fit: cover; */
    position: absolute;
}
.imgBox .img01{
    transition: all 0.7s;
}
.imgBox:hover .img01{
    opacity: 0;
}